.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}
.header{
  background: #FFC0CB;
  padding: 20px 0;
  margin-bottom: 20px;
}
body{
  background-color: #FFCCCC;
}
button {
  margin-top: 20px;
}
.text{
  text-align: center;
}
#blah{
  height: 500px;
  width: 500px;
}
.container{
  text-align: center;
}
#imgInp{
  display: inline-block;
}
p{
  margin-top: 10px;
}
.btn{
  padding-left: 20px;
  padding-right: 20px;
}
