.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}
.header{
  background: #FFC0CB;
  padding: 10px 0;
  margin-bottom: 20px;
  text-align: center;
}
body{
  background-color: #FFCCCC;
}
button {
  margin-top: 20px;
}
.text{
  text-align: center;
}
#blah{
}
.container{
  text-align: center;
}
#imgInp{
  display: inline-block;
}
#blah:hover{
  opacity: 0.3;
}
p{
  margin-top: 10px;
}
.btn{
  padding-left: 20px;
  padding-right: 20px;
}
#imgBox, #uploadBox{
    height: 400px;
    width: 400px;
    border: solid 1px black;
    display: flex;
    align-items: center;
    background-color: white;
}
#uploadBox{
  background-image: url("/pic/upload.jpg");
  background-position:center center;
  background-size: 100%;
}
#uploadBox:hover{
  background-image: url("/pic/uploadhover.jpg");
  cursor: pointer;
}
.header > a {
  display: inline-block;
}
.item{
  max-height: 300px;
}
#myCarousel{
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.button{
  width: 70%;
}
@media screen and (max-width: 800px) {
  .button{
    width: 100%;
  }
  #myCarousel{
    max-width: 100%;
  }
  .item{
    max-height: 500px;
  }
  #imgBox, #uploadBox{
      height: 300px;
      width: 300px;
  }
}
#footer{
  padding: 20px 0;
  background-color: #FFC0CB;

}
i:hover{
  cursor: pointer;
  color: black;
}
#footer > *{
  color: white;
}
