.col-sm-12.col-md-8.col-md-offset-2#facebookCommentDiv
	.fb-comments(
	  data-href='https://developers.facebook.com/docs/plugins/comments#research27'
	  data-numposts='5'
	  data-width="100%"
	)

#fb-root

script(src='./js/fbcomment.js')