html(lang="en")
head
  include ./header.jade  
body
  include ./head.jade
  -var url = 'window.location.href';
  .container
    div#imgBox.center-block
      img#blah.img-responsive(src=pic,alt="")
    .row
      .col-sm-4
        button.btn-lg.btn-default.btn-block Save image
      .col-sm-4
        button.fb-share-button.btn-lg.btn-primary.btn-block(data-href= url, data-layout='link')
      .col-sm-4
        button.btn-lg.btn-danger.btn-block(onclick="location.href = './upload';") Play again
    include ./fbcomment.jade
  script(type="text/javascript", src="/js/script.js")
