html(lang="en")
head
  include ./header.jade  
body
  include ./head.jade
  -var url = 'window.location.href';
  .container
    h4 รวมพลังความรักสำเร็จแล้ว!!
    div#imgBox.center-block
      img#imgShow.img-responsive(src=pic,alt="")

    .row.center-block
      .col-sm-6.col-sm-offset-3
        button.btn-lg.btn-success.btn-block(onclick="location.href = './upload';") <i class="fa fa-repeat fa-lg"></i> Play again
    
      .col-sm-6.col-sm-offset-3
        button.btn-lg.btn-danger.btn-block(onclick='downloadImage()') <i class="fa fa-download fa-lg"></i> Download Image
    
      .col-sm-6.col-sm-offset-3
        button.btn-lg.btn-primary.btn-block(data-href= url, data-layout='link' onclick='shareOnFacebook()') <i class="fa fa-facebook fa-lg"></i> Share on Facebook
    
      .col-sm-6.col-sm-offset-3
        button.btn-lg.btn-info.btn-block(data-href= url, data-layout='link' onclick='shareOnTwitter()') <i class="fa fa-twitter fa-lg"></i> Share on Twitter
    //- <br><br>
    .row.center-block
      include ./fbcomment.jade
  script(type="text/javascript", src="/js/script.js")
  script(type="text/javascript", src="/js/button_action.js")
  include ./footer.jade
