#footer
  .container
    h4 Powered by
    a(href="https://www.facebook.com/komcal")
      h5 Komcal
    a(href="https://www.facebook.com/supanut.apikulvanich")
      h5 Supanut
    a(href="https://www.facebook.com/aphichan.chaiyutthasart")
      h5 Aphichan
    h4 GitHub Project
    i.fa.fa-github-square.fa-3x(onclick="location.href = 'https://github.com/komcal/Heart-Bokeh';")
    
