meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
link(rel="stylesheet", href="./css/style.css")
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
title Heart Bokeh
meta(property='og:url', content='http://research27.ml/heart-bokeh')
meta(property='og:type', content='website')
meta(property='og:title', content='Heart Bokeh')
meta(property='og:description', content='สร้างรูปโบเก้หัวใจสวยๆ ทำให้รูปของคุณเต็มไปด้วยความรัก เพื่อมอบให้คนสำคัญในวันวาเลนไทน์')
meta(property='og:image', content='http://research27.ml/heart-bokeh/pic/1.jpg')
