html(lang="en")
head
  include ./header.jade  
body
  include ./head.jade
  .container
    img#blah.img-responsive.center-block(src="/pic/drop.jpg",alt="")
    form(method="post",enctype="multipart/form-data",action="/uploaded")
      p
        input#imgInp(type="file",name="upl",style='display: none;')
        input.btn.btn-danger(type='button', value='Upload file', onclick='Browse()')        
      p
        input.btn-lg.btn-danger.btn(type="submit", value='Make Bokeh')
  script(type="text/javascript", src="/js/script.js")
