html(lang="en")
head
  include ./header.jade  
body
  include ./head.jade
  .container
    div#imgBox.center-block
      img#blah.img-responsive(src=pic,alt="")
    button.btn-lg.btn-danger.btn-block(onclick="location.href = 'http://localhost:3000/upload';") เล่นใหม่อีกครั้ง
  script(type="text/javascript", src="/js/script.js")
