html(lang="en")
head
  include ./header.jade  
body
  include ./head.jade
  .container
    div#uploadBox.center-block(onclick='Browse()')
      img#blah.img-responsive(src="",alt="")
    form(method="post",enctype="multipart/form-data",action="/uploaded")
      p
        input#imgInp(type="file",name="upl",style='display: none;')     
      p
        input.btn-lg.btn-danger.btn(type="submit", value='Make Bokeh')
  script(type="text/javascript", src="/js/script.js")
