html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  form(method="post",enctype="multipart/form-data",action="/uploaded")
    p
      img#blah(src="#",alt="my img")
    p
      input#imgInp(type="file",name="upl")
    p
      input(type="submit")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
  script(type="text/javascript", src="/js/script.js")
